span { //this works for first letters in blue color
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic, bold;
  color: #0085FF;
  line-height: normal;
  margin: auto;
}
/* Update with a more specific selector */
.header {
  height: 70px;
  padding: 20px 50px;
  background-color: #9BCEFD;
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #939393;
}

/* Update with a more specific selector */
.header .logo {
  font-size: 40px;
  margin-top: 0.75rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

/* Update with a more specific selector */
.header .user {
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
