.logout {
    /* Existing styles */
    background-color: #0085FF;
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
    margin: 0 5px;
    float: left;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items both horizontally and vertically */
    /* Add any other necessary styles */
}
