span { //this works for first letters in blue color
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic, bold;
    color: #0085FF;
    line-height: normal;
    margin: auto;
}
.regulartitle { //this works for regular title
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic, bold;
    color: #000;
    font-size: 75px;
    line-height: normal;
    align-self: center;
}

button:hover {
    background-color: #9BCEFD;
    color: white;
    border-color: #9BCEFD;
  }

.help {
color: #9BCEFD;
}

.help:hover{
  color: #0085FF;
  background-color: #FFFFFF;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: #9BCEFD;
  }
  mat-form-field {
     .mat-hint, input, ::placeholder, .mat-form-field-label {
        color: #9BCEFD;
     }
  }
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #9BCEFD;
    color: #FFFFFF;
    border-color: #9BCEFD;
  }
  
  .previous {
    background-color: white;
    font-size: 20px;
    color: #0085FF;
    border:2px;
    border-style: solid;
    border-color: #0085FF;    
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }
  
  .next {
    background-color: white;
    color: #0085FF;
    border:2px;
    font-size: 20px;
    border-style: solid;
    border-color: #0085FF;    
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }

  .walking-cat{ //progress CAT
    width: 150px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: left 0.5s ease-in-out;
}

.out-container{
    display: flex;
    justify-content:space-between;
    padding: 2rem;
    flex-direction:column;
}

.form-container{
    display: flex;
    padding-top: 2rem;
    justify-content:space-between;
    gap: 3rem;
    width: 100%;
    flex-direction:row;
}

.left-container{
    display: flex;
    justify-content:space-between;
    //padding: 2rem;
    width: 50%;
    flex-direction:column;
}

.right-container{
    display: flex;
    justify-content:space-between;
    //padding: 2rem;
    flex-direction:column;
    width: 50%;
}

.progress-bar-wrapper {
  position: fixed;
  bottom: 62px;
  width: 1480px;
}

