<div class="out-container" *ngIf="mostrarGeneral">
    <h1 class="regulartitle"><span>1.</span>Información general</h1>
    <div class="form-container">
    <div class="left-container">
    <h3>¿Cuál es el nombre de la organización?</h3>
        <mat-form-field appearance="outline" [formGroup]="formularioInicial">
          <input matInput placeholder="Ingrese el nombre de la entidad" formControlName="name">
          <mat-label *ngIf="campoNoValido('name')">Debes ingresar el nombre de la organización</mat-label>
    </mat-form-field>
    <h3>¿Cuántas sedes tiene la organización?</h3>
    <mat-form-field appearance="outline"[formGroup]="formularioInicial">
        <input type="number" matInput placeholder="Ingrese la cantidad de sedes" formControlName="sedes">
        <mat-label *ngIf="campoNoValido('sedes')">Debes ingresar la cantidad total de sedes</mat-label>
    </mat-form-field>
    <h3>Su entidad opera de:</h3>
    <mat-radio-group [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}">
      <mat-radio-button color="primary" value="lunesViernes">Lunes a viernes</mat-radio-button><br><br>
      <mat-radio-button color="primary" value="lunesSabado">Lunes a sábado</mat-radio-button><br><br>
      <mat-radio-button color="primary" value="todosLosDias">Todos los días</mat-radio-button>
    </mat-radio-group>
    </div>
  <div class="right-container">
    <h3>¿Cuántos empleados tiene actualmente la entidad?</h3>
    <mat-form-field appearance="outline" [formGroup]="formularioInicial">
      <input type="number" min="0" matInput placeholder="Ingrese la cantidad de empleados" formControlName="empleados">  
      <mat-label *ngIf="campoNoValido('empleados')">Debes ingresar el total de empleados en la organización</mat-label>
    </mat-form-field>
    <h3>¿Cuál fue la ganancia del último año?</h3>
    <mat-form-field appearance="outline" [formGroup]="formularioInicial">
        <input type="number" matInput placeholder="Ingrese la ganancia del último año" formControlName="ganancia"
         required>
        <mat-label *ngIf="campoNoValido('ganancia')">Debes ingresar la ganancia (revenue) del último año</mat-label>
      </mat-form-field>
    <h3>¿Cuál es el nombre de la persona que está realizando esta evaluación?</h3>
    <mat-form-field appearance="outline" [formGroup]="formularioInicial" >
      <input matInput placeholder="Ingrese su nombre" formControlName="user">
      <mat-label *ngIf="campoNoValido('user')">Debes ingresar tu nombre</mat-label>
    </mat-form-field>
    <h3>Ingrese el correo electrónico donde desea que sean enviados los resultados de esta evaluación</h3>
    <mat-form-field appearance="outline" [formGroup]="formularioInicial">
      <input matInput placeholder="Ingrese un correo electrónico válido ejemplo@correo.com" formControlName="email">
      <mat-label *ngIf="campoNoValido('email')">Debes ingresar el email donde quieres que se te envíen los resultados</mat-label>
    </mat-form-field>

  </div>
</div>
    <div class="out-container">
        <button mat-flat-button class="previous" (click)="showCuest()"><mat-icon>west</mat-icon></button>
        <button [disabled]="formularioInicial.invalid" mat-flat-button class="next" (click)="showCuest()"><mat-icon>east</mat-icon>
        </button>
    </div>
</div>

<div class="out-container" *ngIf="mostrarcuestionario">
    <h1 class="regulartitle"><span>2.</span>Determinando el nivel de madurez actual</h1>
    <div class="form-container">
    <div class="left-container">
    <h3>¿Existe un inventario de activos detallado y actualizado? <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
      <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

      <h3>¿Existe un inventario de software detallado y este mismo debidamente actualizado?<button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
      <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

        
      <h3>¿Se implementa una solución de prevención de pérdida de datos (DLP) y sigue la política de proceso de clasificación de datos? <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
      <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
    </div>
    <div class="right-container">
        <h3>¿Aplican guías de fortalecimiento a los activos empresariales (Endpoint, IoT, Servidores, Móvil, etc.)?<button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

          <h3>¿Cuenta con un directorio activo debidamente administrado? <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
          <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
      
            <h3>¿Implementa controles de acceso basado en roles (RBAC) para decidir el tipo de privilegios que se asignarán a los diferentes tipos de cuentas?
              <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
            </h3>
            <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
    </div>  
  </div>
  <div class="progress-bar-wrapper">
    <mat-progress-bar [value]="progress" mode="determinate"></mat-progress-bar>
    </div>
          
    <div class="out-container">
        <button mat-flat-button class="previous" (click)="showGen()"><mat-icon>west</mat-icon></button>
        <button [disabled]="formularioInicial.invalid" mat-flat-button class="next" (click)="showCuest2()"><mat-icon>east</mat-icon></button>
    </div>

</div>

<div class="out-container" *ngIf="mostrarcuestionario2">
  <h1 class="regulartitle"><span>2.</span>Determinando el nivel de madurez actual</h1>
    <div class="form-container">
     <div class="left-container">       
      <h3>¿Realiza análisis de vulnerabilidades al menos dos veces al año y cuenta con un proceso para la mitigación de las vulnerabilidades encontradas? 
        <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
      </h3>
      <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

        <h3>¿Cuenta con un SOC que está monitoreando eventos de seguridad 24x7 para anticipar, alertar y notificar sobre incidentes de ciberseguridad?
          <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
        </h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

        <h3>¿Cuenta con reglas de firewall para restringir la navegación a sitios web no confiables y/o correos de dudosa procedencia?
          <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
        </h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
       </div>

       <div class="right-container">
        <h3>¿Cuenta con un EDR que esté constantemente monitoreando los endpoints?
          <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
        </h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
         
        <h3>¿Cuenta con un proceso debidamente comprobado para la recuperación de datos en caso de un ataque cibernético? 
          <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
        </h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
  
          <h3>¿Aplican guías de endurecimiento a los dispositivos de red? <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button></h3>
          <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
       </div>

    </div>
    <div class="progress-bar-wrapper">
    <mat-progress-bar [value]="progress" mode="determinate"></mat-progress-bar>
    </div>

    <div class="out-container">
        <button mat-flat-button class="previous" (click)="showCuest()"><mat-icon>west</mat-icon></button>
        <button [disabled]="formularioInicial.invalid" mat-flat-button class="next" (click)="showCuest3()"><mat-icon>east</mat-icon></button>
    </div>


</div>

<div class="out-container" *ngIf="mostrarcuestionario3">
    <h1 class="regulartitle"><span>2.</span>Determinando el nivel de madurez actual</h1>
    <div class="form-container">
        <div class="left-container">
            <h3>¿Cuenta con la tecnología de XDR desplegada en la red?
              <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
            </h3>
            <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
            <h3>¿Dentro de la organización se tiene establecido y se mantiene un programa de concientización a usuarios sobre seguridad de la información?
              <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
            </h3>
            <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>  
                <h3>¿Mantiene monitoreada la red oscura y profunda, supervisando y evaluando la reputación de los proveedores de servicios?
                  <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
                </h3>
                <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
        </div>
        <div class="right-container">
                <h3>¿Desarrolla sus aplicaciones utilizando las mejores prácticas de ciberseguridad como OWASP Top 10 y las prueba antes de pasarlas a producción?
                  <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
                </h3>
                <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

        <h3>¿Cuenta con un equipo y plan de respuesta a incidentes?
          <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
        </h3>
        <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>

            <h3>¿Realiza pruebas de penetración a la red interna, externa, wifi y aplicativos web y móviles que posee?
              <button mat-icon-button (click)="showHelp()" class="help"><mat-icon>help</mat-icon></button>
            </h3>
            <app-forms-option (optionSelected)="updateProgress()"></app-forms-option>
        </div>
    </div>
    <div class="progress-bar-wrapper">
      <mat-progress-bar [value]="progress" mode="determinate"></mat-progress-bar>
    </div>

    <div class="out-container">
        <button mat-flat-button class="previous" (click)="showCuest2()"><mat-icon>west</mat-icon></button>
        <button mat-flat-button class="next" (click)="guardar()"><mat-icon>east</mat-icon></button>
    </div>
</div>

