.nav-items {
    .nav-item {
      padding: 40px 40px;
      cursor: pointer;
      font-size: 15px;
      position: relative;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: flex;
      &:hover {
        background-color: #0085FF;
      }
      mat-icon {
        margin-right: 20px;
        font-size: 33px;
      }
      span {
        display: inline;
      }
    }
  }

  