.main-container {
    display: flex;
//    height: 100%;
    .side-nav {
      width: 300px;
      height: 765px;
      background-color: #64B4FE;
      color: #fff;
    }
    .main {
      padding: 30px;
    //  height: calc(100% - 200px);
     // overflow-y: auto;
    }
  }
/* .container{
  height: 100vh;
  position: relative;
} */