<div *ngIf="start">
  <h3><i>Antes de iniciar, ¿ya cuentas con una cuenta en CAT?</i></h3>
  <button mat-raised-button color="primary" class="login" (click)="showLogin()">
    Iniciar sesión
  </button>
  <button
    mat-raised-button
    color="primary"
    class="register"
    (click)="showRegister()"
  >
    Registrarse
  </button>
</div>
<div *ngIf="login">
  <form [formGroup]="logEmpresaForm">
    <h1 class="indent"><span>¡</span>Bienvenido de nuevo<span>!</span></h1>
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        matInput
        formControlName="correo"
        type="email"
        placeholder="Ingrese el correo electrónico"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="contrasena"
        type="password"
        placeholder="Ingrese la contraseña"
      /> </mat-form-field
    ><br />
    <mat-checkbox color="primary">Recordarme</mat-checkbox>
    <br />
    <button mat-raised-button class="submit" (click)="onLogin()">
      Ingresar
    </button>
  </form>
</div>

<div *ngIf="register">
  <form [formGroup]="addEmpresaForm">
    <h1 class="indent"><span>¡</span>Que inicie la aventura<span>!</span></h1>
    <mat-form-field>
      <mat-label>Nombre de la empresa </mat-label>
      <input
        formControlName="nombreEmpresa"
        matInput
        type="text"
        placeholder="Ingrese el nombre de la empresa"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        matInput
        formControlName="correo"
        type="email"
        placeholder="Ingrese el correo"
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="contrasena"
        type="password"
        placeholder="Ingrese la contraseña"
      /> </mat-form-field
    ><br />
    <mat-checkbox color="primary">Recordarme</mat-checkbox>
    <br />
    <button mat-raised-button class="submit" (click)="onSubmit()">
      Registrar
    </button>
  </form>
</div>
