  h1 { //this works for home title
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic, bold;
    color: #000;
    font-size: 68px;
    line-height: normal;
    padding-top: 2rem ;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.explain-cat{
  width: 300px;
  height: 250px;
  position: absolute;
  right: 10px;
  top:80%;
  bottom: 0;
}