  .middle-section {
    display: flex;
    justify-content: space-between;
    .widget {
      height: 350px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      &.left {
        width: 890px;
      }
      &.right {
        width: 450px;
      }
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    .widget {
      height: 250px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      &.left {
        width: 670px;
      }
      &.right {
        width: 670px;
      }
    }
  }

 .widget-container {
    display: flex;
    align-items: space-between;
    .widget {
      width: 300px;
      height: 175px;
      background-color: #fff;
      color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      display: flex;
      align-items: center;
      padding: 20px;
      &.blue {
        background-color: rgb(1, 11, 72);
      }
      &.white{
        background-color: #fff;
      }
 
      .icon {
        width: 100%;
        font-size: 40px;
        text-align: center;
        mat-icon {
          margin-right: 50px;
          font-size: 55px;
        }
      }
      .value {
        text-align: center;
        width: 175px;
        .top {
          font-size: 30px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .bottom {
          font-size: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-top: 10px;
        }
      }
    }
  }
  