.main-container {
  flex: 1 1 max-content;
  display: flex;
  .main {
    flex: 1 1 max-content;
  }
  .side-nav {
    flex: 0 0 300px;
    height: 100%;
    background-color: #64b4fe;
    color: #fff;
  }
}
.content {
  display: flex;
  .column {
    flex: 1 1 auto;
    padding: 15px;
    width: fit-content;

  }
}

.mat-card{
  display: flex;

}
 .mat-column-categoria {

    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .mat-column-exposicion {

    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .final-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0px 0px 0px; 
  }

  .img{
    width: 150px;
    height: 120px;
  }

  .card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
  }
.grupo-img{
  padding: 40px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
//  align-content: center;
}