<div>
  <h1 mat-dialog-title><b>MIAU...</b></h1>
  <div mat-dialog-content>Mi instinto gatuno me dice que esto es un posible ataque de <b>RANSOMWARE.</b> Donde los
  cibercriminales utilizaron uno de los patrones más comunes en estos últimos 5 años dentro del sector educativo, ataques a aplicaciones web...  
  Te preguntarás, ¿cómo un gato sabe esto? Bueno, me he informado con el DBIR cada año.
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="close" (click)="onClickNo()">Close</button>
  </div>
</div>

