  .main-container {
    flex: 1 1 max-content;
    display: flex;
    .main {
      flex: 1 1 max-content;
    }
    .side-nav {
      flex: 0 0 300px;
      height: 100%;
      background-color: #64b4fe;
      color: #fff;
    }
  }

  .grupo{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
  }
  span { //this works for first letters in blue color
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic, bold;
    color: #0085FF;
    line-height: normal;
    margin: auto;
  }
  .explain-cat{
    width: 300px;
    height: 250px;
    position: absolute;
    right: 10px;
    top:70%;
    bottom: 0;
  }
  .posicion {
    display: flex;
    padding-top: 60px;
    padding-right: 15px;
  }
  .stepper {
    width: 800px;
    height: fit-content;
  }
  .how {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 900px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }