<div class="out-container" *ngIf="mostrarHome">
  <div>
    <h1 class="supertitle"><span>C</span>ybersecurity</h1>
    <h1 class="supertitle"><span>A</span>ssessment</h1>
    <h1 class="supertitle"><span>T</span>ool</h1>
    <h3 class="hometext">Para el sector educativo</h3>
  </div>
  <div class="gato-container">
    <img class="front-cat" src="assets\imgs\gato.jpg " alt="cat" />
    <button
      mat-raised-button
      color="primary"
      class="start"
      (click)="showFirst()"
    >
      Empezar
    </button>
  </div>
</div>
